/*
Theme Name: Cogitate
Theme URI: https://github.com/evansolomon/wp-cogitate
Author: Evan Solomon
Author URI: http://evansolomon.me
Version: 1.0
template: twentytwelve
*/

/* Everywhere */
p,
li,
textarea {
	font-family: 'Proxima Nova', proxima-nova, 'Open Sans', Helvetica, Arial, sans-serif;
	color: #222;
}

@media (max-width: 600px) {
	p,
	#respond form textarea {
		font-size: 16px;
	}
}

.site-header h1.site-title {
	text-align: right;
	font-family: jaf-domus-titling-web, 'Open Sans', Helvetica, Arial, sans-serif;
}

@media (max-width: 600px) {
	.site-header h1 {
		line-height: 1.6;
	}
}

.site-title a {
	border-bottom: 4px double #F38630;
}

#page {
	max-width: 800px;
}

/* Front Page */
body.home #page {
	max-width: 960px;
}

body.home .site-title {
	font-size: 110px;
	font-family: jaf-domus-titling-web, 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 300;
	text-align: center;
	letter-spacing: -5px;
	word-spacing: 10px;
	padding-left: 10px;
}

@media (max-width: 850px) {
	body.home .site-title {
		font-size: 70px;
		line-height: 100%;
	}

	body.home .site-title a {
		padding-bottom: 20px;
		margin-bottom: -30px;
	}
}

@media (max-width: 400px) {
	body.home .site-title {
		font-size: 50px;
		line-height: 90%;
	}
}


body.home a,
.entry-title a {
	color: #00A8C9;
}

.frontpage-menu {
	float: left;
	width: 50%;
}

.frontpage-menu h2 {
	font-variant: small-caps;
	padding-left: 20px;
	margin-bottom: 10px;
}

.frontpage-menu ul {
	overflow: auto;
}

.frontpage-menu li {
	margin: 0;
	font-size: 18px;
	font-family: jaf-domus-titling-web, proxima-nova, 'Open Sans', Helvetica, Arial, sans-serif;
}

.frontpage-menu li a {
	text-decoration: none;
	border-radius: 4px;
	padding: 5px 10px 5px 20px;
	margin: 3px 20px 3px 0;
	display: block;
}

.frontpage-menu li a:hover {
	background: #F38630;
	color: #FFF;
}

@media (max-width: 850px) {
	.frontpage-menu li a,
	.frontpage-menu h2 {
		font-size: 90%;
	}
}

@media (max-width: 550px) {
	.frontpage-menu li a,
	.frontpage-menu h2 {
		font-size: 80%;
	}
}

body.home .entry-content {
	margin: auto;
	max-width: 400px;
}

@media (max-width: 630px) {
	body.home .entry-content {
		margin: 0 20% 0 20%;
	}
}

@media (max-width: 470px) {
	body.home .entry-content {
		margin: 0 10% 0 10%;
	}
}

body.home .menu {
	list-style: none;
}

body.home article {
	border-bottom: none;
}

.last-post {
	clear: both;
	padding-top: 60px;
	max-width: 50%;
	margin: 0 auto;
}

@media (max-width: 850px) {
	.last-post {
		max-width: 80%;
	}
}

.last-post .teaser {
	padding: 10px 0 20px 0;
	font-size: 14px;
	font-family: jaf-domus-titling-web, proxima-nova, 'Open Sans', Helvetica, Arial, sans-serif;
}

@media (max-width: 600px) {
	.last-post .teaser {
		font-size: 12px;
	}
}

.last-post .title {
	font-family: quatro-slab, 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 35px;
	padding: 10px 0 20px 0;
}

.last-post .title a {
	text-decoration: none;
}

.last-post p {
	font-size: 20px;
	line-height: 140%;
}

@media (max-width: 600px) {
	.last-post p {
		font-size: 18px;
	}
}

/* Blog */
article .entry-content,
.comment-content {
	max-width: 630px;
	margin: auto;
}

.entry-header .entry-title {
	font-family: quatro-slab, 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 60px;
}

@media (max-width: 600px) {
	.entry-header .entry-title {
		font-size: 30px;
	}
}

.entry-date {
	margin: 40px 0 40px 40px;
	text-align: right;
	font-size: 18px;
	font-family: jaf-domus-titling-web;
}

.comment-subscription-form input {
	font-size: 115%;
}

article.format-quote .entry-content blockquote p {
	font-family: quatro-slab, 'Open Sans', Helvetica, Arial, sans-serif;
}

.format-quote .entry-content cite {
	display: block;
	text-align: right;
	text-transform: uppercase;
	font-style: normal;
	font-size: 16px;
	color: #999;
	font-family: jaf-domus-titling-web, proxima-nova, 'Open Sans', Helvetica, Arial, sans-serif;
}

.entry-content p,
.entry-content li,
#respond form textarea {
	font-weight: 100;
	font-size: 140%;
}

.comment-content p {
	font-size: 130%;
}

.comment-content blockquote {
	background: #EEEEEE;
}

#respond form textarea {
	font-size: 100%;
}

.comment-meta .avatar {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/* Submit buttons */
input[type="submit"] {
	background-image: -moz-linear-gradient(top, #F38630, #DC670E);
	background-image: -ms-linear-gradient(top, #F38630, #DC670E);
	background-image: -o-linear-gradient(top, #F38630, #DC670E);
	background-image: -webkit-linear-gradient(top, #F38630, #DC670E);
	background-image: linear-gradient(top, #F38630, #DC670E);
	color: #FFF;
	border: 1px solid #f2700c;
	letter-spacing: 1px;
}

input[type="submit"]:hover {
	background-image: -moz-linear-gradient(top, #E96E10, #F17E27);
	background-image: -ms-linear-gradient(top, #E96E10, #F17E27);
	background-image: -o-linear-gradient(top, #E96E10, #F17E27);
	background-image: -webkit-linear-gradient(top, #E96E10, #F17E27);
	background-image: linear-gradient(top, #E96E10, #F17E27);
	color: #FFF;
	border: 1px solid #f2700c;
	letter-spacing: 1px;
}

/* Footer */
.site-info {
	text-align: center;
	font-family: jaf-domus-titling-web, 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 10px;
}

.site-info a {
	text-decoration: none;
}

.site-info a:hover {
	text-decoration: underline;
}


/* Code display */
.entry-content > pre {
	background: #444;
	color: #EEE;
	padding: 15px 20px 15px 20px;
}

.entry-content code {
	font-family: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
	font-size: 13px;
	border: 1px solid #BCBCBC;
	padding: 0px 0.2em;
	display: inline-block;
	background: #EEE;
}
